<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Travel Schedular</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href="./css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/indexcss.css">
    <link rel="stylesheet" href="./css/board.css">
</head>
<body>

    <!-- Navigation -->
    <%- include('header') %>
    <h1 class="boardheader">게시판</h1><br>
    
    <div class="twit-background">
            <form id="boarder-form" action="/board/post" method="post">
                <div class="input-group">
                    <input type="textarea" id="posting" name="content" maxlength="140">
                </div>
                <div id="boardadd">
                    <%if(!isLoggedIn){ %>
                        <button class="postbtn" id="twit-btn" type="button" onclick="notloggedin()">글 게시</button>
                    <% }else{ %>    
                        <input type="submit" value ="글 게시" class="postbtn" id="twit-btn">
                    <% } %>
                    <select id="selecttravel" name="place">
                        <option value="서울">서울</option>
                        <option value="강원">강원</option>
                        <option value="전주">전주</option>
                        <option value="제주">제주</option>
                        <option value="부산">부산</option>
                        <option value="대구">대구</option>
                    </select>
                </div>
            </form>
            <br>
            <% for(var i = postcount;i>0;i--) { %>
                <fieldset>
                    <legend> <%= post1.rows[i-1].dataValues.nick %> (no.<%= post1.rows[i-1].dataValues.id %>) </legend>
                    <div class="twit">
                        <strong>(<%= post1.rows[i-1].dataValues.place %>)</strong> : <%= post1.rows[i-1].dataValues.content %>
                    </div>
                </fieldset>
                <br>
                <% } %>
    </div>
    <% if(isLoggedIn){ %>
        <script src="boardajax.js"></script>
    <% }else { %>
        <script>
            function notloggedin(){
                alert('로그인 후 이용하세요.');
                window.location = "/auth";
            }
        </script>
    <% } %>
</body>

</html>